@import url('https://fonts.googleapis.com/css?family=Lato:400i,700');
$font-stack: Lato, sans-serif;

$color-white: #FFFFFF;
$color-black: #333333;
$color-tealish: #1CBBB4;
$color-yellowish: #FFAD1D;
$color-greyish: #464646;

$font-lato-regular: $font-stack;

$space-section: 30px;
$space-element: 20px;
$space-element--inside: 10px;

$table-header-heigth: 66px;

$max-width-container: 1200px;

$zindex-base: 500;
$zindex-others: $zindex-base / 2;