<template>
  <div class="card">
    <figure class="image is-1by1">
      <img :src="getPic(info.img_url)">
    </figure>
    <div class="card-content">
      <div class="media">
        <div v-show="isLike" class="media-left is-like">
          <i class="fas fa-thumbs-up" ></i>
        </div>
        <div v-show="!isLike" class="media-left is-dislike">
          <i class="fas fa-thumbs-down" ></i>
        </div>
        <div class="media-content">
          <p class="title is-4">{{info.name}}</p>
        </div>
      </div>
      <div class="content">
        <p class="desc">{{info.desc}}</p>
        <button  class="button putvote like" @click="voteType='like'"><i class="fas fa-thumbs-up"></i></button>
        <button  class="button putvote dislike" @click="voteType='dislike'"><i class="fas fa-thumbs-down"></i></button>
        <button class="button vote" @click="voteEvent">Vote now</button>
      </div>
    </div>
    <footer class="card-footer">
      <a href="javascript:void(0)" :class="likeClass"><i class="fas fa-thumbs-up fa-2x"></i><span>{{likes}}%</span></a>
      <a href="javascript:void(0)" :class="dlikeClass"><h1><span>{{dislikes}}%</span><i class="fas fa-thumbs-down fa-2x"></i></h1></a>
    </footer>
  </div>
</template>

<script>

  export default {
    props: {
      info: {
        type: Object,
        required: true
      }
    },
    created () {
      console.log("created")
      this.calcPercent();
    },
    data() {
      return {
        likes: 0,
        dislikes: 0,
        likeClass: '',
        dlikeClass: '',
        isLike: true,
        voteType: ''
      }
    },
    methods: {
      getPic(index) {
        return require('../../assets/img/' + index);
      },
      calcPercent() {
        (this.info.likes > this.info.dislikes) ? this.isLike = true : this.isLike = false;
        const totalvotes = this.info.likes + this.info.dislikes;
        this.likes = Math.round((this.info.likes * 100) / totalvotes);
        this.dislikes = 100 - this.likes;
        this.likeClass = `card-footer-item column is-${Math.round(this.likes/10) + 1} is-btn-like`;
        this.dlikeClass = `card-footer-item column is-${12 - (Math.round(this.likes/10) + 1)} is-btn-dislike`;
      },
      voteEvent() {
        this.$emit('vote', [ this.info['.key'], this.voteType, this.info.likes,  this.info.dislikes]) 
        setTimeout(() => this.calcPercent() , 500);
        this.voteType = ''
               
      }

    },
  }

</script>

<style lang="scss" scoped>
  @import '../../sass/variables.scss';
  .card {
    &-content {
      position: absolute;
      bottom: 50px;
      padding-left: 0;
      &:before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50px;
        left: 0;
        background: linear-gradient(to bottom,transparent 0%,transparent 2%,transparent 51%,rgba(0,0,0,0.7) 99%,rgba(0,0,0,0.7) 100%);
      }
      .media {
        &-left {
          padding: 5px 7px;
          color: $color-white;
          margin: 0;
          &.is-like {
            background-color: $color-tealish;
          }
          &.is-dislike {
            background-color: $color-yellowish;
          }
        }
        &-content {
          overflow: hidden;
          p {
            color: $color-white;
            margin-left: 10px;
          }
        }
      }
      .content {
        p.desc {
          color: $color-white;
          margin-left: 40px;
        }
        button {
          color: $color-white;
          &.vote {
            margin-left: 40px;
            margin-bottom: 10px;
            background-color: rgba($color-black, 0.7);
            color: $color-white;
          }
          &.like {
            background-color: $color-tealish;
            margin-left: 40px;
          }
          &.dislike {
            background-color: $color-yellowish;
          }
          &.putvote {
            border: 0;
            &:focus {
              border: 2px solid $color-white;
            }
          }
        }
      }
    }
    &-footer {
      border-top: 0;
      position: absolute;
      bottom: 0;
      width: 100%;
      a {
        color: $color-white;
        border: 0;
        span {
          font-size: 29px;
        }
        &.is-btn-like {
          background-color: rgba($color-tealish, 0.7);
          i {
            margin-right: 10px;
          }
        }
        &.is-btn-dislike {
          background-color: rgba($color-yellowish, 0.7);
          text-align: right;
        }
      }
    }

  }
</style>
