<template>
  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-half-desktop ">
            <div class="card">
              <header class="card-header">

              </header>
              <div class="card-blur">

              </div>
              <div class="card-content">
                <div class="content">
                  <p class="ban-intro">What’s your opinion on</p>
                  <p class="ban-title">
                    Pope Francis?
                  </p>
                  <p class="ban-desc">He’s talking tough on clergy sexual abuse, but is he just another papal
                    pervert protector? (thumbs down) or a true pedophile punishing pontiff? (thumbs up)</p>
                  <p class="ban-info">
                    <i class="fab fa-wikipedia-w"></i> More information
                  </p>
                  <p class="ban-quest">What is your veredict?</p>
                </div>
              </div>
              <footer class="card-footer">
                <a href="#" class="card-footer-item bg-like"><i class="fas fa-thumbs-up fa-2x"></i></a>
                <a href="#" class="card-footer-item bg-dislike"><i class="fas fa-thumbs-down fa-2x"></i></a>
              </footer>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hero-foot">
      <div class="container-fluid">
        <div class="columns is-gapless">
          <div class="column is-4">

          </div>
          <div class="column is-8">

          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    data () {
      return {
        img: '../../assets/img/pope.png',
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import '../../sass/variables.scss';
  .hero {
    background: url('../../assets/img/pope.png') no-repeat center center fixed;
    min-height: 700px;
    background-size: cover;
    padding-top: 150px;
    display: block;

    .card {
      background-color: transparent;
      box-shadow: none;
      .card {
        &-blur {
          background: url('../../assets/img/pope.png') no-repeat center center fixed;
          background-size: cover;
          overflow: hidden;
          filter: blur(15px);
          position: relative;
          height: 300px;
          margin: 10px;
          &:before {
            content: "";
            display: block;
            background: rgba(51,51,51,0.45);
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
          }
        }

        &-content {
          position: absolute;
          margin: auto;
          top: 0;
          bottom: 80px;
          left: 0;
          right: 0;
          box-shadow: inset 0 0 70px rgba(51,51,51,0.45);
          p {
            color: $color-white;
            margin-bottom: 10px;
            &:first-child {
              margin-bottom: -20px;
              margin-left: 5px;
              margin-top: 10px;
              font-size: 16px;
              color: rgba(255, 255, 255, 0.74);
            }
          }
          .ban {
            &-intro {

            }
            &-title {
              color: $color-white;
              font-size: 60px;
              margin-bottom: 0;
            }
            &-desc {
              font-size: 21px;
              line-height: 1.14;
              font-weight: 300;
            }
            &-info {

            }
            &-quest {
              font-size: 20px;
              font-weight: bold;
            }
          }

        }

        &-footer{
          border: 0;
          height: 80px;
          .card-footer-item {
            border: 0;
            color: $color-white;
            &.bg {
              &-like {
                background-color: rgba($color-tealish, 0.7);
              }
              &-dislike {
                background-color: rgba($color-yellowish, 0.7);
              }
            }
          }
        }
      }
    }

    &-foot {
      height: 55px;
      background: rgba(112,112,112,0.3);
      .container-fluid {
        .columns {
          .column {
            &:last-child {
              &:before {
                display: block;
                content: "";
                width: 100%;
                height: 100%;
                background: rgba(255,255,255,0.7);
                position: absolute;
              }
              &:after {
                //content: "\25BA";
                display: block;
                width: 8px;
                height: 100%;
                //background: url('../../assets/arrow-bar.png') 0 0 no-repeat;
                position: absolute;
              }
            }
          }
        }
      }
    }
  }
</style>
