<template>
    <footer class="footer">
        <div class="container">
            <div class="content">
                <div  class="navbar-menu">
                    <div class="navbar-start">
                        <a class=" navbar-item" href="https://bulma.io/">
                            Terms and Consitions
                        </a>
                        <a class=" navbar-item" href="https://bulma.io/">
                            Privacy Policy
                        </a>
                        <a class=" navbar-item" href="https://bulma.io/">
                            Contact Us
                        </a>
                    </div>
                    <div class="navbar-end">
                        <a class=" navbar-item" href="https://bulma.io/">
                            Follow Us 
                        </a>
                        <a class=" navbar-item" href="https://bulma.io/">
                            <i class="fab fa-facebook-square"></i>
                        </a>
                        <a class=" navbar-item" href="https://bulma.io/">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</template>

<style lang="scss" scoped>
    footer {
        padding: 2rem 2rem 2rem;
    }
</style>
