<template>
    <nav class="navbar is-transparent">
      <div class="container">
        <div class="navbar-brand">
          <a class="main-title navbar-item" href="https://bulma.io">
            <h1>Rule of Thumb.</h1>
          </a>
          <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
        <div  class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item" href="https://bulma.io/">
              Past Trials
            </a>
            <a class="navbar-item" href="https://bulma.io/">
              How It Works
            </a>
            <a class="navbar-item" href="https://bulma.io/">
              Log In / Sign Up
            </a>
            <a class="navbar-item" href="https://bulma.io/">
              <i class="fa fa-search"></i>
            </a>
          </div>
        </div>
      </div>
    </nav>
</template>

<style lang="scss" scoped>
  @import '../../sass/variables';
  .header {

  }
  nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: transparent;
    transition: background-color 1s ease 0s;
    background: linear-gradient(to bottom,rgba(51,51,51,0.82) 0%,rgba(51,51,51,0.5) 51%,rgba(51,51,51,0) 100%);
    .container {
      padding-top: 42px;
      padding-bottom: 42px;
      .navbar-brand {
        .main-title {
          font-size: 32px;
          color: $color-white;
          &:hover {
            background: none;
          }
        }
      }
      .navbar-menu {
        .navbar-end {
          .navbar-item {
            margin-right: 50px;
            padding: 0;
            text-decoration: none;
            color: $color-white;
            &:hover {
              background: none;
            }
          }
        }
      }
    }
  }
</style>
