<template>
  <section class="section">
    <div class="container">
      <div class="columns is-multiline is-desktop">
        <div class="column is-6-desktop" v-for="(info) in infoData" :key="info.id">
          <vote-card :info="info" @vote="updateVotes" />
        </div>
      </div>
    </div>
   </section>
</template>

<script>

  import {db} from '@/services/firebase';

  import VoteCard from '@/components/shared/Votecard'

  export default {
    components: { VoteCard},
    data () {
      return {
        infoData: {},
        voted: 0
      }
    },
    firebase: {
      infoData: db.ref('infoData'),
    },
    methods: {
      updateVotes(vote) {
        if(vote[1] === 'like') {
          let newVote = vote[2] + 1;
          this.$firebaseRefs.infoData.child(vote[0]).child('likes').set(newVote);
        } else if (vote[1] === 'dislike') {
           let newVote = vote[3] + 1;
          this.$firebaseRefs.infoData.child(vote[0]).child('dislikes').set(newVote);           
        }
      }
    }
  }
</script>
