<template>
  <div id="app">
    <tu-header/>
    <tu-banner/>
    <tu-votegroup/>
    <tu-footer/>
  </div>
</template>

<script>
import TuHeader from '@/components/layout/Header.vue'
import TuFooter from '@/components/layout/Footer.vue'
import TuBanner from '@/components/layout/Banner.vue'
import TuVotegroup from '@/components/Votegroup.vue'


export default {
  name: 'app',
  components: { TuHeader, TuFooter, TuBanner, TuVotegroup },
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  }
}
</script>

<style lang="scss">
  @import './sass/main.scss';
  body {
    font-family: $font-lato-regular;
  }
</style>
